/target/
*.class
.classpath
.project
.settings/
bin/
build/
resources/cfe/
resources/images/qr/
*.pkcs12
*.DS_Store
project/target/*
project/project/*
conf/security
hs_err_pid43043.log
conf/servers.conf
.cache-main
.cache-tests
.sbtserver/*
logs/application.log
resources/images/logo.jpg
builds
deploys
deploy_conf

.cache-macros

conf/secret.conf
