<configuration>
    
  <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

<!--   <appender name="FILE" class="ch.qos.logback.core.FileAppender"> -->
<!--      <file>${application.home:-.}/logs/application.log</file> -->
<!--      <encoder> -->
<!--        <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern> -->
<!--      </encoder> -->
<!--   </appender> -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date %coloredLevel from %logger in %thread - %message%n%xException</pattern>
    </encoder>
  </appender>

<!--   <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender"> -->
<!--     <appender-ref ref="FILE" /> -->
<!--   </appender> -->

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="play" level="INFO" />
  <logger name="application" level="INFO" />
  <logger name="org.apache.cxf" level="INFO"/>
  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />
  <logger name="javax.mail" level="DEBUG" />
  <logger name="com.bluedot" level="DEBUG" />
  
  <!-- Log all SQL DML statements as they are executed -->
<!-- 	<Logger name="org.hibernate.SQL" level="debug" /> -->
	<!-- Log all JDBC parameters -->
<!-- 	<Logger name="org.hibernate.type" level="debug" /> -->
	<!-- Log all SQL DDL statements as they are executed -->
<!-- 	<Logger name="org.hibernate.tool.hbm2ddl" level="debug" /> -->
	<!-- Log the state of all entities (max 20 entities) associated with the 
		session at flush time -->
<!-- 	<Logger name="org.hibernate.pretty" level="debug" /> -->
	<!-- Log all second-level cache activity -->
<!-- 	<Logger name="org.hibernate.cache" level="debug" /> -->
	<!-- Log transaction related activity -->
<!-- 	<Logger name="org.hibernate.transaction" level="debug" /> -->
	<!-- Log all JDBC resource acquisition -->
<!-- 	<Logger name="org.hibernate.jdbc" level="debug" /> -->
	<!-- Log HQL and SQL ASTs during query parsing -->
<!-- 	<Logger name="org.hibernate.hql.ast.AST" level="debug" /> -->
	<!-- Log all JAAS authorization requests -->
<!-- 	<Logger name="org.hibernate.secure" level="debug" /> -->
	<!-- Log everything (a lot of information, but very useful for troubleshooting) -->
<!-- 	<Logger name="org.hibernate" level="debug" /> -->

  <root level="INFO">
	<!--     <appender-ref ref="ASYNCFILE" /> -->
    <appender-ref ref="ASYNCSTDOUT" />
  </root>
  
</configuration>